
* {
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

html,body {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// padding
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}

// border
.bl-1 {
  border-left: 1px solid gray;
}
.bb-1 {
  border-bottom: 1px solid gray;
}
// text-align
.ta-c {
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
